@mixin margin($margin-1, $margin-2: null, $margin-3: null, $margin-4: null) {
  @if (is-null($margin-2) and is-null($margin-3) and is-null($margin-4)) {
    margin: $margin-1;
    margin: px2rem($margin-1);
  } @else if (is-null($margin-3) and is-null($margin-4)) {
    margin: $margin-1 $margin-2;
    margin: px2rem($margin-1) px2rem($margin-2);
  } @else if (is-null($margin-4)) {
    margin: $margin-1 $margin-2 $margin-3;
    margin: px2rem($margin-1) px2rem($margin-2) px2rem($margin-3);
  } @else {
    margin: $margin-1 $margin-2 $margin-3 $margin-4;
    margin: px2rem($margin-1) px2rem($margin-2) px2rem($margin-3) px2rem($margin-4);
  }
}

@mixin margin-top($margin) {
  margin-top: $margin;
  margin-top: px2rem($margin);
}

@mixin margin-right($margin) {
  margin-right: $margin;
  margin-right: px2rem($margin);
}

@mixin margin-bottom($margin) {
  margin-bottom: $margin;
  margin-bottom: px2rem($margin);
}

@mixin margin-left($margin) {
  margin-left: $margin;
  margin-left: px2rem($margin);
}
