.c-ad-single-wide {
  display: none;

  @media (min-width: (700 + 300 + $gutter * 2)) {
    display: block;
    text-align: center;
  }

  .c-widget + .c-widget {
    @include margin-top($gutter);
  }
}
