.c-blog-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  overflow: hidden;

  > a {
    display: block;
    color: $color-text;
    text-decoration: none;
  }

  &__figure {
    float: right;
    margin-left: 1em;
    max-width: 20%;
  }

  &__body {
    overflow: hidden;
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    @include margin-top(10px);
    font-size: 14px;
    line-height: 1.5;
  }

  &__domain {
    clear: both;
    color: #999;
    font-size: 12px;
    @include padding-top(5px);
  }

  &__favicon {
    position: relative;
    top: -1px;
    height: 13px;
    margin-right: 3px;
  }
}
