.c-entry {
  &__header {
    @include margin(0, 0, $gutter);
    border-bottom: 1px solid #eee;
    @include padding(0, 0, $gutter);
  }

  &__title {
    margin: 0;
    font-weight: bold;
    @include font-size($base-font-size * 2);
    line-height: 1.3;
  }

  &__meta {
    margin-top: .5em;
    @include font-size($base-font-size - 4);

    &, a {
      color: #999;
    }
  }

  &__content {
    @include margin($gutter, 0, 0);
    @include content();
  }
}
