.c-pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: rgba(#000, .8);
  opacity: 0;
  transition: opacity .1s;
  pointer-events: none;
  cursor: pointer;

  &[aria-hidden="false"] {
    opacity: 1;
    pointer-events: auto;
  }

  .fa {
    font-size: 20px;
    line-height: 1;
  }

  a {
    color: #fff !important;
    font-weight: normal;
    text-decoration: none !important;
  }
}
