.c-widget {
  @include font-size($base-font-size - 2);

  a {
    color: $color-text;
  }

  &__title {
    margin: 0 0 .5em;
    border-bottom: 1px solid $color-text;
    font-weight: bold;
    @include font-size($base-font-size);
    padding: 0 0 .5em;
  }

  &.widget_recent_entries,
  &.widget_recent_comments,
  &.widget_archive,
  &.widget_categories,
  &.widget_meta,
  &.widget_pages,
  &.widget_nav_menu {
    ul {
      margin: 0;
      list-style: none;
      color: rgba(#000, .4);
      padding: 0;

      > li {
        li { padding-left: 1em; }
        li li { padding-left: 2em; }
        li li li { padding-left: 3em; }
        li li li li { padding-left: 4em; }
        li li li li li { padding-left: 5em; }

        ul {
          ul { margin-left: -1em; }
          ul ul { margin-left: -2em; }
          ul ul ul { margin-left: -3em; }
          ul ul ul ul { margin-left: -4em; }
        }
      }
    }
  }

  &.widget_recent_entries,
  &.widget_recent_comments,
  &.widget_archive,
  &.widget_meta,
  &.widget_pages,
  &.widget_nav_menu {
    .c-widget__title {
      margin-bottom: .25em;
    }

    li {
      border-bottom: 1px solid rgba(#000, .05);
      padding: .75em 0;
    }

    .post-date {
      display: block;
      @include font-size($base-font-size - 4);
    }
  }

  &.widget_calendar {
    table {
      border: none;
      table-layout: fixed;
      width: 100%;

      caption {
        font-weight: bold;
        letter-spacing: .2em;
        text-align: center;
      }

      th, td {
        background-color: transparent;
        border: none;
        line-height: 1;
        padding: 6px 0;
      }

      thead th, tbody td {
        text-align: center;

        > a {
          display: inline-block;
          background-color: #eee;
          border-radius: 2px;
          color: $color-text;
          margin: -6px 0;
          padding: 6px 10px;
          text-decoration: none;
        }
      }

      tfoot {
        @include font-size($base-font-size - 2);

        #prev, #next {
          padding-top: 1em;
        }

        #prev {
          text-align: left;
        }

        #next {
          text-align: right;
        }
      }
    }

    #next {
      text-align: right;
    }
  }

  &.widget_tag_cloud {
    a {
      margin: .5em .5em .5em 0;
      display: inline-block;
      font-size: ($base-font-size - 2) !important;
      line-height: 1.4;

      &::before {
        margin-right: .25em;
        content: "\f02b";
        display: inline-block;
        color: #ccc;
        font: normal normal normal 14px/1 FontAwesome;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
