.c-blog-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  overflow: hidden; }
  .c-blog-card > a {
    display: block;
    color: #333;
    text-decoration: none; }
  .c-blog-card__figure {
    float: right;
    margin-left: 1em;
    max-width: 20%; }
  .c-blog-card__body {
    overflow: hidden; }
  .c-blog-card__title {
    font-weight: bold; }
  .c-blog-card__description {
    margin-top: 10px;
    margin-top: 0.625rem;
    font-size: 14px;
    line-height: 1.5; }
  .c-blog-card__domain {
    clear: both;
    color: #999;
    font-size: 12px;
    padding-top: 5px;
    padding-top: 0.3125rem; }
  .c-blog-card__favicon {
    position: relative;
    top: -1px;
    height: 13px;
    margin-right: 3px; }
