.l-contents {
  $aside-width: 300px;

  @include clearfix();
  @include padding(0, 0, $gutter);

  @media (min-width: 768px) {
    @include padding(0, 0, ($gutter * 2));
  }

  .c-breadcrumbs {
    @include margin(($gutter / 2), 0, 0);
  }

  &__main {
    @include margin-top($gutter);

    @media (min-width: 768px) {
      float: left;
      margin-right: ($aside-width * -1);
      display: block;
      width: 100%;
    }

    > main {
      @media (min-width: 768px) {
        margin-right: ($aside-width + $gutter);
      }
    }
  }

  &__aside {
    display: none;
    @include margin-top($gutter);

    @media (min-width: 768px) {
      float: right;
      display: block;
      width: $aside-width;
    }
  }

  .page-template-front-page & {
    padding-top: 0;
  }
}
