.l-header {
  position: relative;

  > .container {
    position: relative;
  }

  .p-site-branding {
    @include padding(($gutter / 2), ($gutter * 2 + 32), ($gutter / 2), 0);

    @media (min-width: 992px) {
      @include padding(($gutter / 2), 0);
    }
  }

  .p-social-nav {
    @include margin-top($gutter / 2);

    @media (min-width: 992px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .p-global-nav {
    position: relative;
    z-index: 1;
  }

  .c-hamburger-btn {
    position: absolute;
    z-index: 1;
    top: 16px;
    right: ($gutter / 2);
  }

  .p-drawer-nav {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
  }
}
