.p-main-visual {
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s ease-in;
  margin: 0 auto;

  &.slick-initialized {
    visibility: visible;
    opacity: 1;
  }

  .slick-slide {
    > img {
      width: 100%;
    }
  }
}
